/* Hero */
.cuerpo{
    
  }

.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    text-align: center;
}

.centered-image {
    max-width: 75%;
    max-height: 75%;
}
/* Menu Header Restaurante */
 
header.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
   
  .header-wrap{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: transparent;
    z-index: 999;
  }
   
  .wrap-logo-header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
  }
   
  .logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
  }
   
  .nav-header{
    display: flex;
    align-items: center;
    width: 100%;
  }
   
  .nav-wrap-header{
    display: flex;
    flex-basis: 50%;
  }
   
  ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 1.1rem;
  }
   
  ul.main-menu #nav-main-contact{
    display: flex;
    align-items: center;
    color: #fff;
  }
   
  li.menu-item{
    margin: .75rem;
    display: flex;
    font-size: 25px;
    
  }

  a:link, a:visited, a:active {
    text-decoration:none;
}
   
  li.menu-item a{
    padding: .5rem 1rem;
    color: #ffffff;
  }
   
  li.menu-item a:hover{
    color: #FFC300;
  }
   
  i.toggle-menu{
    display: none;
    background-color: #fff;
    border: none;
    z-index: 9999;
  }
   
  i.toggle-menu img{
    width: 27px;
    z-index: 99;
  }
   
  input#check{
    display: none;
  }

  body{
    background-image: url(img/fondo.png);
  }

  *{box-sizing:border-box;}


/* Formulario */
form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color: rgba(204, 204, 204, 0.7);;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

/*Imgen*/
.imageFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.imageFile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.imageFile:focus + label,
.imageFile + label:hover {
  background-color: red;
}